<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-mapping PUBLIC 
    "-//Hibernate/Hibernate Mapping DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-mapping-3.0.dtd">
    
	<hibernate-mapping>
	
		<class name="com.zhiyou100.model.CustomerState" table="customer_state">
			
			<id name="customer_state_id" column="customer_state_id">
				<generator class="native"/>
			</id>
			<property name="customer_state_name" column="customer_state_name"></property>
			<property name="customer_state_desc" column="customer_state_desc"></property>
			<property name="status" column="status"></property>
			<property name="remark" column="remark"></property>
			<property name="create_time" column="create_time"></property>
			<property name="creater" column="creater"></property>
			<property name="update_time" column="update_time"></property>
			<property name="updater" column="updater"></property>
		</class>

		
	</hibernate-mapping>    
